<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Teacher Details/title>
</head>
<header>
    <div align="center">
        <a th:href="@{/}"><button type="button">Strona główna</button></a>
        <a th:href="@{/students}"><button type="button">Menadżer Studentów</button></a>
        <a th:href="@{/teachers}"><button type="button">Menadżer Wykładowców</button></a>
    </div>
</header>
<body>
<div align="center">
    <h1>Szczegóły użytkownika</h1>
    <br>
    <h2 th:text="${userDetails.firstname}+' '+${userDetails.lastname}"></h2>
    <br>
    <br>
    <div>
        <table th:object="${userDetails}">
            <tr>
                <td>Imię:</td>
                <td>
                    <div th:text="*{firstname}"></div>
                </td>
            </tr>
            <tr>
                <td>Nazwisko:</td>
                <td>
                    <div th:text="*{lastname}"></div>
                </td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>
                    <div th:text="*{email}"></div>
                </td>
            </tr>
            <tr>
                <td>Wiek:</td>
                <td>
                    <div th:text="*{age}"></div>
                </td>
            </tr>
            <tr>
                <td>Przedmiot:</td>
                <td>
                    <div th:text="*{majoringIn}"></div>
                </td>
            </tr>
        </table>
        <br>
        <a th:href="@{'/students/edit/' + ${userDetails.id}}">
            <button type="button">Edytuj</button>
        </a>

        <br>
        <br>
        <br>
        <div align="center">
            <h2>Lista Studentów</h2>
            <table border="1" cellpadding="15">
                <thead>
                <tr>
                    <th>
                        <a th:href="@{'/students/details/'+ ${userDetails.id} +'/page/' + ${currentPage} + '?sortField=id&sortDir=' + ${reverseSortDir}}">nr
                            ID</a>
                    </th>
                    <th>
                        <a th:href="@{'/students/details/'+ ${userDetails.id} +'/page/' + ${currentPage} + '?sortField=firstname&sortDir=' + ${reverseSortDir}}">Imię</a>
                    </th>
                    <th>
                        <a th:href="@{'/students/details/'+ ${userDetails.id} +'/page/' + ${currentPage} + '?sortField=lastname&sortDir=' + ${reverseSortDir}}">Nazwisko</a>
                    </th>
                    <th>
                        <a th:href="@{'/students/details/'+ ${userDetails.id} +'/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir}}">Email</a>
                    </th>
                    <th>
                        <a th:href="@{'/students/details/'+ ${userDetails.id} +'/page/' + ${currentPage} + '?sortField=fieldOfStudy&sortDir=' + ${reverseSortDir}}">Kierunek</a>
                    </th>

                    <th>Narzędzia</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="student : ${userList}">
                    <td th:text="${student.id}">nr ID</td>
                    <td th:text="${student.firstname}">Imię</td>
                    <td th:text="${student.lastname}">Nazwisko</td>
                    <td th:text="${student.email}">Email</td>
                    <td th:text="${student.fieldOfStudy}">Kierunek</td>
                    <td>
                        <a th:href="@{'/teachers/details/' + ${userDetails.id} + '/delete/student/' + ${student.id}}"><button type="button">Usuń z listy Studentów</button></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
</body>
</html>