<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Teachers by StudentId</title>
</head>
<body>
<div align="center">

    <h1> Nauczyciele Studenta <p th:text="${studentName}"></p></h1>


    <br/><br/>

    <table border="1" cellpadding="15">
        <thead>
        <tr>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=id&sortDir=' + ${reverseSortDir}}">nr ID</a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=firstname&sortDir=' + ${reverseSortDir}}">Imię</a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=lastname&sortDir=' + ${reverseSortDir}}">Nazwisko</a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=age&sortDir=' + ${reverseSortDir}}">Wiek</a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir}}">Email</a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=fieldOfStudt&sortDir=' + ${reverseSortDir}}">Przedmiot</a>
            </th>

            <th>Narzędzia</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="teacher : ${teacherList}">
            <td th:text="${teacher.id}">nr ID</td>
            <td th:text="${teacher.firstname}">Imię</td>
            <td th:text="${teacher.lastname}">Nazwisko</td>
            <td th:text="${teacher.age}">Wiek</td>
            <td th:text="${teacher.email}">Email</td>
            <td th:text="${teacher.majoringIn}">Kierunek</td>
            <td>
                <a th:href="@{'/edit/' + ${teacher.id}}">Edytuj</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a th:href="@{'/delete/' + ${teacher.id}}">Usuń</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a th:href="@{'/details/' + ${teacher.id}}">Szczegóły</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div>&nbsp;</div>
    <!--    <div><i>Sorted by [[${sortField}]] in [[${sortDir}]] order</i></div>-->
    <div>&nbsp;</div>
    <div th:if="${totalPages > 1}">
        Total Items: [[${totalItems}]]
        &nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;

        <a th:if="${currentPage > 1}" th:href="@{'/student/'+${id}+'/teachers/page/1' + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">First</a>
        <span th:unless="${currentPage > 1}">First</span>
        &nbsp;&nbsp;

        <a th:if="${currentPage > 1}" th:href="@{'/student/'+${id}+'/teachers/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Previous</a>
        <span th:unless="${currentPage > 1}">Previous</span>

        &nbsp;&nbsp;

        <span th:each="i: ${#numbers.sequence(1, totalPages)}">
			<a th:if="${currentPage != i}" th:href="@{'/student/'+${id}+'/teachers/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
			<span th:unless="${currentPage != i}">[[${i}]]</span>
			&nbsp;
		</span>

        <a th:if="${currentPage < totalPages}" th:href="@{'/student/'+${id}+'/teachers/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
        <span th:unless="${currentPage < totalPages}">Next</span>
        &nbsp;&nbsp;

        <a th:if="${currentPage < totalPages}" th:href="@{'/student/'+${id}+'/teachers/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
        <span th:unless="${currentPage < totalPages}">Last</span>
    </div>
</div>
</body>
</html>