<!DOCTYPE html>
        <html lang="en" xmlns:th="http://www.thymeleaf.org">
        <head>
        <meta charset="UTF-8">
        <title>Teachers</title>
</head>
        <header>
            <div align="center">
                <a th:href="@{/}"><button type="button">Strona główna</button></a>
                <a th:href="@{/students}"><button type="button">Menadżer Studentów</button></a>
                <a th:href="@{/teachers}"><button type="button">Menadżer Wykładowców</button></a>
            </div>
        </header>
<body>
<div align="center">

    <h1>Wykładowcy</h1>
    <a th:href="@{/teachers/add}"><button type="button">Dodaj Nowego Wykładowcę</button></a>

    <br/>
    <br/>
    <div>
        <form th:action="@{/teachers/page/1}">

            <input type="hidden" name="sortField" th:value="${sortField}">
            <input type="hidden" name="sortDir" th:value="${sortDir}">
            Filtruj: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required/>
            &nbsp; <input type="submit" value="Szukaj"/>
            &nbsp; <input type="button" value="Wyczyść Filtr" id="btnClear" onclick="clearSearch()"/>
            <br>
            <br>&nbsp;
            <label>
                <input type="radio" name="flag" value=1 checked>
            </label> Szukaj Wykładowcy
            <label>
                <input type="radio" name="flag" value=0>
            </label> Szukaj Wszystkich Studentów Wykładowcy
        </form>
    </div>
    <br/>

    <table border="1" cellpadding="15">
        <thead>
        <tr>
            <th>
                <a th:href="@{'/teachers/page/' + ${currentPage} + '?sortField=id&sortDir=' + ${reverseSortDir}+ ${keyword != null ?'&keyword=' + keyword :''}+${flag != null ?'&flag='+flag :'' }}">nr ID</a>
            </th>
            <th>
                <a th:href="@{'/teachers/page/' + ${currentPage} + '?sortField=firstname&sortDir=' + ${reverseSortDir}+ ${keyword != null ?'&keyword=' + keyword :''}+${flag != null ?'&flag='+flag :'' }}">Imię</a>
            </th>
            <th>
                <a th:href="@{'/teachers/page/' + ${currentPage} + '?sortField=lastname&sortDir=' + ${reverseSortDir}+ ${keyword != null ?'&keyword=' + keyword :''}+${flag != null ?'&flag='+flag :'' }}">Nazwisko</a>
            </th>
            <th>
                <a th:href="@{'/teachers/page/' + ${currentPage} + '?sortField=age&sortDir=' + ${reverseSortDir}+ ${keyword != null ?'&keyword=' + keyword :''}+${flag != null ?'&flag='+flag :'' }}">Wiek</a>
            </th>
            <th>
                <a th:href="@{'/teachers/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir}+ ${keyword != null ?'&keyword=' + keyword :''}+${flag != null ?'&flag='+flag :'' }}">Email</a>
            </th>
            <th>
                <a th:href="@{'/teachers/page/' + ${currentPage} + '?sortField=majoringIn&sortDir=' + ${reverseSortDir}+ ${keyword != null ?'&keyword=' + keyword :''}+${flag != null ?'&flag='+flag :'' }}">Przedmiot</a>
            </th>

            <th>Narzędzia</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="teacher : ${userList}">
            <td th:text="${teacher.id}">nr ID</td>
            <td th:text="${teacher.firstname}">Imię</td>
            <td th:text="${teacher.lastname}">Nazwisko</td>
            <td th:text="${teacher.age}">Wiek</td>
            <td th:text="${teacher.email}">Email</td>
            <td th:text="${teacher.majoringIn}">Przedmiot</td>
            <td>
                <a th:href="@{'/teachers/edit/' + ${teacher.id}}"><button type="button">Edytuj</button></a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a th:href="@{'/teachers/delete/' + ${teacher.id}}"><button type="button">Usuń</button></a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a th:href="@{'/teachers/details/' + ${teacher.id}}"><button type="button">Szczegóły</button></a>
            </td>
        </tr>
        </tbody>
    </table>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div th:if="${totalPages > 1}">
        Wszystkich wyników: [[${totalItems}]]
        &nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
        Wybierz stronę:

        <a th:if="${currentPage > 1}" th:href="@{'/teachers/page/1' + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ?'&keyword=' + keyword :''}+${flag != null ?'&flag='+flag :'' }}">Pierwsza</a>
        <span th:unless="${currentPage > 1}">Pierwsza</span>
        &nbsp;&nbsp;

        <a th:if="${currentPage > 1}" th:href="@{'/teachers/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ?'&keyword=' + keyword :''}+${flag != null ?'&flag='+flag :'' }}">Poprzednia</a>
        <span th:unless="${currentPage > 1}">Poprzednia</span>

        &nbsp;&nbsp;

        <span th:each="i: ${#numbers.sequence(1, totalPages)}">
			<a th:if="${currentPage != i}" th:href="@{'/teachers/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ?'&keyword=' + keyword :''}+${flag != null ?'&flag='+flag :'' }}">[[${i}]]</a>
			<span th:unless="${currentPage != i}">[[${i}]]</span>
			&nbsp;
		</span>

        <a th:if="${currentPage < totalPages}"
           th:href="@{'/teachers/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ?'&keyword=' + keyword :''}+${flag != null ?'&flag='+flag :'' }}">Następna</a>
        <span th:unless="${currentPage < totalPages}">Następna</span>
        &nbsp;&nbsp;

        <a th:if="${currentPage < totalPages}" th:href="@{'/teachers/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ?'&keyword=' + keyword :''}+${flag != null ?'&flag='+flag :'' }}">Ostatnia</a>
        <span th:unless="${currentPage < totalPages}">Ostatnia</span>
    </div>
</div>
<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/teachers}]]";
    }
</script>
</body>
</html>